h1 Get
    br
    | Started

p Sign up to start capturing
    br
    | the world.

form((ngSubmit)='onSubmit()', #signUpForm='ngForm')
    .inputs
        ion-item
            ion-label([position]="'floating'") Email
            ion-input(
                [(ngModel)]='email',
                [type]="'email'",
                name='email',
                required,
            )

        ion-item
            ion-label([position]="'floating'") Password
            ion-input(
                [(ngModel)]='password',
                [type]="'password'",
                name='password',
                minlength='6',
                required,
            )

        ion-item
            ion-label([position]="'floating'") Confirm Password
            ion-input(
                [(ngModel)]='confPassword',
                [type]="'password'",
                id='confPassword',
                name='confPassword',
                required,
            )

    .submit
        ion-button.continue(
            type="submit",
            shape="round",
            [disabled]="signUpForm.invalid"
        )
            .btn-text Sign Up
        p(*ngIf='swipe', (click)="prev()") Already have an account?&nbsp;
            a Sign In.
